@using LessonPlan.Core.Dtos;

@{
    ViewData["Title"] = "Index";
}

@model List<TeacherDto>
<a class="btn btn-primary" asp-controller="Teachers" asp-action="Save">Save Teacher</a>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Teacher Name</td>
            <td>Classroom</td>
            <td>Lesson</td>
            <td>Lesson Time</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.TeacherName</td>
                <td>@item.ClassRoomId</td>
                <td>@item.LessonId</td>
                <td>@item.LessonTimeId</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Teachers" asp-action="Update" asp-route-id="@item.Id">Update</a>
                    <a class="btn btn-danger" asp-controller="Teachers" asp-action="Remove" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>